extends layout

block content
  h1= title
  p Welcome to #{title}
  table
    h4
        caption Listado de metodos
    tr
        th  Method 
        th  Name method 
        th  parameter  
        th  parameter 1 
        th  parameter 2 
        th  parameter 3 
    tr
        td  GET 
        td  /product/search_products 
        td  var="name product" 
        td  var1="range price (MIN)" 
        td  var2="range price (MAX)" 
        td  var3="raitings true or false" 