body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

table {
    border-collapse: collapse;
}

td, th /* Asigna un borde a las etiquetas td Y th */ {
    border: 1px solid black;
}